@media (min-width:375px) and (max-width: 767px) {

    .top {
        padding-left: 16px;
        padding-right: 16px;
        height: 735px;
        background-image: url(img/1pagemobile.jpg);
        background-size: cover;
        background-position: center;
        align-items: center;

        &__heading {
            width: 343px;
            text-align: center;
            font-size: 32px;                                   
        }
        &__text {
            width: 343px;
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }      
    }
    .content {
        height: 1221px;
        padding-left: 16px;
        padding-right: 16px;
        display: grid;
        align-content: center;

    }
    .item {
        width: 343px;
        &__heading {
            margin-left: 16px;
        }
    }
    .firstGame {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 51px;
        padding-bottom: 85px;
        display: flex;
        flex-direction: column;
        gap: 64px;
        align-items: center;
        background: #000915;
    }
    .secondGame {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 51px;
        padding-bottom: 85px;
        display: flex;
        flex-direction: column;
        gap: 64px;
        align-items: center;
        background: #000915;
    }
    .active {
        align-items: center;
        &__heading {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &__text {
            width: 343px;
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
        }
    }
    .vector {
        width: 344px;
    }
    .bigImage {
        display: none;
    }
    .smallImage {
        display: block;
    }
}
