@media (min-width:768px) and (max-width:1024px) {
    .top {
        padding-left: 56px;
        padding-right: 56px;
        height: 735px;
        background-position: center;
        align-items: center;
        gap: 64px;

        &__heading {            
            text-align: center;
            font-size: 48px;                                   
        }
        &__text {            
            text-align: center;
            font-size: 20px;
            line-height: 22px;
        }      
    }
    .content {
        padding-top: 127px;
        padding-bottom: 127px;
        height: 556px;

    }
    .item {
        width: 343px;
        height: 300px;
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        border: none;
        border-radius: 16px;
        &__heading {
            margin-left: 32px;
            margin-bottom: 32px;
            color: #FFF;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
        }
    }
    .item:nth-child(1) {
            background-image: url(img/game1.jpg);
            background-repeat: no-repeat;
        }
    .item:nth-child(2) {
            background-image: url(img/game2.jpg);
            background-repeat: no-repeat;
        }
    .item:nth-child(3){
            background-image: url(img/game3.jpg);
            background-repeat: no-repeat;
        }
}

.afterContent {
    padding-top: 51px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;

}
.active {
    width: 343px;
    padding-top: 51px;
    align-items: center;
    &__heading {
        width: 343px;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__text {
        width: 443px;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
    }
}
.vector {
    width: 344px;
    padding-top: 0px;
    padding-bottom: 85px;
}
