* {
    margin: 0;
    padding: 0;
}
.top {
    height: 1024px;
    background-image: url(img/1Page.png);
    background-size: cover;
    padding-top: 217px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &__heading {
        width: 788px;
        height: 125px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__text {
        width: 481px;
        height: 64px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        &_wide {
            font-weight: 700;
            transition: all 0.8 ease-in;
        }
    }
    &__button {
        height: 48px;
        width: 234px;
        margin-top: 12px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        box-sizing: border-box;
        border: none;
        border-radius: 30px;
        background: #9C0332;
        transition: all 0.8 ease-in;
    }
}
.content {
    height: 556px;
    background-color: #000915;
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.item {
    width: 379px;
    height: 300px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    border: none;
    border-radius: 16px;
    &_game1 {
        background-image: url(img/game1.jpg);
        background-repeat: no-repeat;
    }
    &_game2 {
        background-image: url(img/game2.jpg);
        background-repeat: no-repeat;
    }
    &_game3 {
        background-image: url(img/game3.jpg);
        background-repeat: no-repeat;
    }
    &__heading {
        margin-left: 32px;
        margin-bottom: 32px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }
}

/*Эффекты наведения*/
.top__text_wide:hover {
    color:#9C0332;
}
.top__button:hover {
    background: #000915;
    color: #9C0332;
}
.item:hover {
    box-shadow: 0 0 5px #ccc;
    transform: scale(1.05);
    }

/* Cтили для мобильного */

@media (max-width: 426px) {
    
    .top {
        padding-left: 16px;
        padding-right: 16px;
        height: 735px;
        background-image: url(img/1pagemobile.jpg);
        background-size: cover;
        align-items: center;

        &__heading {
            width: 343px;
            text-align: center;
            font-size: 32px;                                   
        }
        &__text {
            width: 343px;
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }      
    }
    .content {
        height: 1221px;
        padding-left: 16px;
        padding-right: 16px;
        display: grid;
        align-content: center;
        
    }
    .item {
        width: 343px;
        &__heading {
            margin-left: 16px;
        }
    }
}